@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'AG'; 
    src: url('../fonts/Amazing Grotesk Book.otf');
    font-weight: 600; 
    font-style: normal;
}
@font-face {
    font-family: 'AG'; 
    src: url('../fonts/Amazing Grotesk Demi.otf');
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: 'AG'; 
    src: url('../fonts/Amazing Grotesk Ultra.otf');
    font-weight: bold; 
    font-style: normal;
}